
.headerColor { 
  background: #161616 !important;
  color: white;
}

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.coluna {
  background:white;
}

.bold { 
  font-weight: bold !important;
}

body{
  background:#e0e0e0
}

.user-info {
  word-wrap: break-word;
  text-align: justify ;
}
.user-info h5{
  text-align: center ;
}

.user-logo {
  padding-top: 20px;
  width: 68% ;
  border-radius: 100%;
}